
  <h2 id="title">MOVIES RATED BY OTHER USERS</h2>
  <main data-theme="dark">
    {{>sidebar}}
    <section>
    {{#each allFilms}}
    <div class="genre" id="{{this.genre}}"><h1><i class="fas fa-angle-right"></i> {{this.genre}}</h1></div>
    <article>
    {{#each this.genreFilms}}
    <div class="card">
      <img class="card-img-top" src="{{this.Poster}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.Title}}</h5>
        <p class="card-text" id="plot">{{this.Plot}}</p>
        <h6 class="card-label">GENRE</h6>
        <p class="card-text" id="filmGenre">{{this.Genre}}</p>
        <h6 class="card-label">USERS RATING</h6>
        <p class="card-text">{{this.averageRating}}<i class="far fa-star"></i> | {{this.numberVotes}} <i class="fas fa-vote-yea"></i></p>
      </div>
      <a href="/search?title={{this.Title}}" class="btn">FIND OUT MORE</a>
    </div>
    {{/each}}
    </article>
    {{/each}}
    </section>
  </main>

