
  <main>
    {{>sidebar}}
    <section>
      <div class="module-border-wrap"><div id="slogan">
        <img src="/img/logo.jpg" alt="logo">
        <h2>Search. Vote. Save.</h2>
        <h1>ANY MOVIE IN YOUR MIND</h1>
      </div></div>
      <div class="genre" id="{{genre}}"><h1>{{genre}}</h1></div>
      <article>
      {{#each listOfFilms}}
      <div class="card">
        <a href="/search?title={{this.Title}}"><img class="card-img-top" src="{{this.Poster}}" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title">{{this.Title}}</h5>
          <p class="card-text" id="plot">{{this.Plot}}</p>
          <h6 class="card-label">GENRE</h6>
          <p class="card-text" id="filmGenre">{{this.Genre}}</p>
          <h6 class="card-label">APPRECIATION</h6>
          <p class="card-text">Percentage of users who liked this movie: {{this.Appreciation}}%</p>
          <h6 class="card-label">IMDB RATING</h6>
          <p class="card-text">{{this.Rating}}<i class="far fa-star"></i> | {{this.Votes}} <i class="fas fa-vote-yea"></i></p>
        </div>
      </div>
      {{/each}}
      </article>
    </section>
  </main>

