<section id="specificFilm">
    {{#if data.imdbID}} 
    <img src="{{data.Poster}}" alt="">
    <div id="filmInformation">
        <h1 id="title">{{data.Title}}</h1>
        <h4 id="plot">{{data.Plot}}</h4>
        <h5 id="genre">{{data.Genre}}</h5>
        <h5 id="runtime">{{data.Runtime}}</h5>
        <h5 id="released">{{data.Released}}</h5>
        {{#if data.Director}} 
            <h5 id="director">Director: {{data.Director}}</h5>
        {{/if}}
        <h5 id="actors">Actors: {{data.Actors}}</h5>
        <h5 id="awards">{{data.Awards}}</h5>
        <h5 id="imdbRating">{{data.imdbRating}} <i class="far fa-star"></i> | {{data.imdbVotes}} <i class="fas fa-vote-yea"></i></h5>
            <div id="starRating">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>    
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <h6 id="message"></h6>
            </div>
    </div>
    {{else}}
    <h1>ERROR: FILM NOT FOUND</h1>
    {{/if}}
</section>