<section id="specificFilm">
    <img src="http://img.omdbapi.com/?i={{data.imdbID}}&apikey=e3e69745" alt="">
    <div id="filmInformation">
        <h1 id="title">{{data.Title}}</h1>
        <h4 id="plot">{{data.Plot}}</h4>
        <h5 id="genre">{{data.Genre}}</h5>
        <h5 id="runtime">{{data.Runtime}}</h5>
        <h5 id="director">{{data.Director}}</h5>
        <h5 id="actors">{{data.Actors}}</h5>
        <h5 id="awards">{{data.Awards}}</h5>
        <h5 id="imdbRating">{{data.imdbRating}} <i class="far fa-star"></i> IMDb rating</h5>
    </div>
</section>