{{#if data.imdbID}} 
<section id="specificFilm">
    <img src="{{data.Poster}}" alt="">
    <div id="filmInformation">
        <h1 id="title">{{data.Title}}</h1>
        <h5 id="plot">{{data.Plot}}</h5>
        <h5 id="genre">{{data.Genre}}</h5>
        <h5 id="runtime">{{data.Runtime}}</h5>
        <h5 id="released">{{data.Released}}</h5>
        {{#if data.Director}} 
            <h5 id="director">Director: {{data.Director}}</h5>
        {{/if}}
        <h5 id="actors">Actors: {{data.Actors}}</h5>
        <h5 id="awards">{{data.Awards}}</h5>
        <h5 id="imdbRating">{{data.imdbRating}} <i class="far fa-star"></i> | {{data.imdbVotes}} <i class="fas fa-vote-yea"></i> IMDb ratings</h5>
        <div id="starRating">
            <h5 id="textRating">Rate the film</h5>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>    
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <span id="rating">0 <i class="far fa-star"></i></span>
            
            
            <h6 id="serverResponse"></h6>
        </div>

    </div>
</section>
<script src="/script/voteFilms.js"></script>
    {{else}}
    <div id="filmNotFound"><h1>FILM <span>NOT FOUND</span> TRY ANOTHER NAME</h1></div>
    {{/if}}

