{{#if twFilms}} 
<h2 id="wtwTitle">WHAT TO WATCH:</h2>
<section id="whatToWatch">
  {{#each twFilms}}
  <div class="card">
  <img class="card-img-top" src="http://img.omdbapi.com/?i={{this.imdbID}}&apikey=e3e69745" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.plot}}</p>
    <p class="card-text">{{this.genre}}</p>
    <p class="card-text">{{this.rating}} <i class="far fa-star"></i> | {{this.votes}} <i class="fas fa-vote-yea"></i></p>
  </div>
  <a href="/search?title={{this.title}}" class="btn">Find out more</a>
</div>
{{/each}}
</section>
{{/if}}

<script>
  const searchButton = document.querySelector("#searchButton");
  const searchFilm = document.querySelector("#searchFilm");
  console.log(searchButton);
  searchButton.addEventListener("click", ()=>{
    searchButton.href=`/search?title=${searchFilm.value}`;
    searchFilm.value="";
  })
</script>