{{#if twFilms}} 
<h2 id="title">WHAT TO WATCH</h2>
<section id="whatToWatch">
  {{#each twFilms}}
  <div class="card">
    <img class="card-img-top" src="{{this.poster}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text" id="plot">{{this.plot}}</p>
      <h6 class="card-label">GENRE</h6>
      <p class="card-text" id="genre">{{this.genre}}</p>
      <h6 class="card-label">USER RATING</h6>
      <p class="card-text" id="genre">{{this.usersRating}}<i class="far fa-star"></i></p>
      <h6 class="card-label">IMDB RATING</h6>
      <p class="card-text" id="rating">{{this.rating}} <i class="far fa-star"></i> | {{this.votes}} <i class="fas fa-vote-yea"></i></p>
    </div>
    <a href="/search?title={{this.title}}" class="btn">FIND OUT MORE</a>
  </div>
  {{/each}}
</section>
{{/if}}
