{{#if userFilms}} 
<main>
  <aside>
      <div id="genresLegend"><h1>GENRES <i class="fas fa-angle-left"></i></h1></div>
      <ul>
      {{#each listOfGenres}}
      <li id="{{this.genre}}">{{this.genre}}</li>
      {{/each}}
      </ul>
  </aside>
  <article>
    <h2 id="title">YOUR FAVOURITE MOVIES</h2>
    <section id="favouriteFilms">
    {{#each listOfFilms}}
      <div class="card">
        <img class="card-img-top" src="{{this.Poster}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{this.Title}}</h5>
          <p class="card-text" id="rating">{{this.Appreciation}} <i class="far fa-star"></i>
        </div>
        <a href="/search?title={{this.Title}}" class="btn">FIND OUT MORE</a>
      </div>
    {{/each}}
    </section>
  </article>
</main>
{{else}}

<div id="noFilm"><h1>you haven't <span>voted</span> any movie yet.</h1></div>

{{/if}}